<html xmlns:th="http://www.thymeleaf.org" lang="en">


<div>
    <label for="name">Enter game name:</label>
    <input id="name" type="text" th:field="*{name}">
    <hr>
    <br>
    <label for="description">Enter game description:</label>
    <input id="description" type="text" th:field="*{description}">
    <hr>
    <br>
    <label for="releaseYear">Enter game release year:</label>
    <input id="releaseYear" type="text" th:field="*{releaseYear}">
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
        Description Error
    </div>
    <hr>
    <br>
    <label for="genre">Select game genre:</label>
    <select id="genre" th:field="*{genre}">
        <option th:each="genre: ${genres}" th:value="${genre.getGenreId()}"
                th:text="${genre.getGenreName()}"/>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">
        Category Error
    </div>
    <hr>
    <br>
    <label for="studio">Select game studio:</label>
    <select id="studio" th:field="*{}">
        <option th:each="developer: ${developers}" th:value="${developer.getStudioId()}"
                th:text="${developer.getStudioName()}"
        />
    </select>
    <hr>
    <br>
    <label for="platform">Select platform:</label>
    <input id="platform" type="checkbox" name="platforms" th:field="*{platforms}"
           th:each="platform : ${platforms}"
           th:text="${platform.getPlatformName()}"
           th:value="${platform.getPlatformId()}"
    />
    <hr>
    <br>
</div>