<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit game</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/games/{id}(id=${game.getId()})}" th:object="${game}">
  <label for="name">Enter game name:</label>
  <input id="name" type="text" th:field="*{name}">
  <hr>
  <br>
  <label for="description">Enter game description:</label>
  <input id="description" type="text" th:field="*{description}">
  <hr>
  <br>
  <label for="releaseYear">Enter game release year:</label>
  <input id="releaseYear" type="text" th:field="*{releaseYear}">
  <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
    Description Error
  </div>
  <hr>
  <br>
  <label for="genre">Select game genre:</label>
  <select id="genre" th:object="${genre}" th:field="*{genreId}">
    <option th:each="genre: ${genres}" th:value="${genre.getGenreId()}"
            th:text="${genre.getGenreName()}"/>
  </select>
  <hr>
  <br>
  <label for="studio">Select game studio:</label>
  <select id="studio" th:object="${developer}" th:field="*{studioId}">
    <option th:each="developer: ${developers}" th:value="${developer.getStudioId()}"
            th:text="${developer.getStudioName()}"/>
  </select>
  <hr>
  <br>
  <label for="platform">Select platform:</label>
  <select id="platform" th:object="${platform}" th:field="*{platformId}">
    <option th:each="platform: ${platforms}" th:value="${platform.getPlatformId()}"
            th:text="${platform.getPlatformName()}"/>
  </select>
  <hr>
  <br>
  <input type="submit" value="Edit game"/>
</form>
</body>
</html>