<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new game</title>
</head>
<body>
<form th:method="POST" th:action="@{/games}" th:object="${gameInfoDto}">
    <div>
        <label for="name">Enter game name:</label>
        <input id="name" type="text" th:field="*{name}">
        <hr>
        <br>
        <label for="description">Enter game description:</label>
        <input id="description" type="text" th:field="*{description}">
        <hr>
        <br>
        <label for="releaseYear">Enter game release year:</label>
        <input id="releaseYear" type="text" th:field="*{releaseYear}">
        <hr>
        <br>
        <label for="genre">Select game genre:</label>
        <select id="genre" th:field="*{gameGenre}">
            <option th:each="genre: ${genres}" th:value="${genre.getId()}"
                    th:text="${genre.getGenreName()}"/>
        </select>
        <hr>
        <br>
        <label for="studio">Select game studio:</label>
        <select id="studio" th:field="*{developerStudio}">
            <option th:each="developer: ${developers}" th:value="${developer.getId()}"
                    th:text="${developer.getStudioName()}"
            />
        </select>
        <hr>
        <br>
        <label for="platform">Select platform:</label>
        <input id="platform" type="checkbox" name="platforms" th:field="*{platformList}"
               th:each="platform : ${platforms}"
               th:text="${platform.getPlatformName()}"
               th:value="${platform.getId()}"
        />
        <hr>
        <br>
    </div>
    <input type="submit" value="Add new game"/>
</form>
</body>
</html>