<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="|${game.getGameInfo().getGameName()} on ${game.getPlatform().platformName}|"/>
</head>
<body>
<div class="game_information">
    <p th:text="${game.getGameInfo().getGameName()}">
    <p th:text="${game.getGameInfo().getGameDescription()}">
    <p th:text="${game.getGameInfo().getGameGenre().getGenreName()}">
    <p th:text="${game.getGameInfo().getGameDeveloperStudio().getStudioName()}">
    <p th:text="${game.getAverageRating()}">
</div>
<div th:each="platform : ${game.getOtherPlatforms()}">
    <a th:href="@{/games/{platformName}/{gameName}
        (platformName=${platform.getPlatformName()},
        gameName=${game.getGameInfo().getGameName()})}"
       th:text="|Also available on ${platform.getPlatformName()}|">
    </a>
</div>
<br>
<!--<a th:href="@{/games/{platformName}/{gameName}/edit-->
<!--        (platformName=${game.getPlatform().getPlatformName()},-->
<!--        gameName=${game.getGameInfo().getGameName()})}">Edit a game info</a>-->
<!--<br>-->
<!--<form th:method="DELETE" th:action="@{/games/{id}(id=${gameInfo.getId()})}">-->
<!--    <input type="submit" value="Delete game"/>-->
<!--</form>-->

</body>
</html>